@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

html,
body {
  margin: 0;
  paddding: 0;
}

.homepage-container {
    background: url("../images/background.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.blur {
  background: rgba(138, 138, 138, 0.3);
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100%;
}

.side-bar {
  height: 100vh;
  width: 25%;
  background: rgba(250, 250, 250, 1);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

#logo-home-div {
  width: 100%;
  text-align: center;
  padding: 25px 0;
}

#logo-link-img {
  max-width: 150px;
}





/* Medie Queries */

@media screen and (min-width: 479px) {
/* start of medium tablet styles */
h1 {
  color: blue;
}
}

@media screen and (min-width: 767px) {
/* start of large tablet styles */
h1{
  color: red;
}
}

@media screen and (min-width: 991px) {
/* start of desktop styles */
h1 {
  color: green;
}
}
